:root {
  --first-background: #232946;
}
* {
  box-sizing: border-box;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--first-background);
  display: block;
}
li {
  text-align: center;
}
li {
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}

.h2 {
  margin-top: 0;
}

li a:hover {
  background-color: var(--first-background);
  transform: rotateY(360deg);
  transform: scale(1.5);
}
header {
  text-align: center;
}
.introduction a {
  display: inline-block;
  text-align: center;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border-color: #f4f4f4;
  text-decoration: none;
  color: #ffffff;
}
.Pinotas {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 290px;
  height: 250px;
}
.header {
  background: #ebebe3;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}
#header ul {
  margin-bottom: -5px;
}
.about {
  background-color: var(--first-background);
}

.Projects {
  background-color: var(--first-background);
}

.Contactos {
  background-color: var(--first-background);
}

.heading {
  position: relative;
}
.heading::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(180, 65, 15);
  width: 100px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
