* {
  box-sizing: border-box;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(101, 9, 107);
  display: block;
}
li {
  text-align: center;
}
li {
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #f39bea;
}
header {
  text-align: center;
}
.introduction a {
  display: inline-block;
  text-align: center;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border-color: #f4f4f4;
  text-decoration: none;
  color: #ffffff;
}
.Pinotas {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 290px;
  height: 250px;
}
.header {
  background: #ebebe3;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}
#header ul {
  margin-bottom: -5px;
}
.about {
  background: #2b2b28;
}

.Projects {
  background: #4a4a48;
}

.Contactos {
  background: #c19898;
}
